@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  transition: 0.2s;
}

body {
  display: grid;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  height: 100vh;
  background-color: rgb(223, 226, 238);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 7em;
  height: 30vh;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.container:hover {
  color: aliceblue;
  background-color: black;
}

.colorPanel {
  background: none;
  outline: none;
  border: none;
  height: 2.5rem;
  width: 5rem;
  cursor: grab;
}

#btn {
  padding: 0.5rem;
  border-radius: 25px;
  border: 1px solid white;
  width: 7em;
  font-size: 1rem;
  color: aliceblue;
  background-color: black;
}

#btn:hover {
  color: black;
  background-color: aliceblue;
}

.git {
  padding: 0.5rem;
  border-radius: 25px;
  border: 1px solid white;
  width: 7em;
  font-size: 1rem;
  color: aliceblue;
  background-color: black;
}

.git:hover {
  color: black;
  background-color: aliceblue;
}

#box {
  color: black;
  padding: 0.3rem;
  border: none;
  outline: none;
  border-radius: 25px;
}

#box:focus {
  border: 1px solid gray;
}
